.links {
    display: flex;
    align-items: center;
    height: 85vh;
    position: fixed;
    right: 0;
    z-index: 5;
}

.links ul {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    padding: 0 10px;    
    background: #D6D2C4;
    background-image: linear-gradient(to left, #323232, #7C7575) ;
    border-radius: 10px;
    box-shadow: 5px 10px 15px #00000049, 5px 10px 15px #0000003a;
}

ul a img {
    height: 25px;
    padding: 8px 0;
}