header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFF5EA;
    box-shadow: 5px 10px 15px #00000049, 5px 10px 15px #0000003a;
    padding: 25px 0 0 0;
    position: sticky;
    top: 0;
    z-index: 3;
}

header a {
    display: flex;
    text-decoration: none;
}

header a span {
    text-align: center;
    color: #323232;
    font-size: 2.4rem;
    font-family: cursive;
}

header a img {
    margin: 5px 0;
    padding: 0 10px;
    height: 50px;
}

header nav {
    display: inherit;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
    top: 5px;
}

header nav a {
    width: auto;
    padding: 0 12px;
    font-size: 1rem;
    font-weight: 500;
    font-family: cursive;
    color: #323232;
    text-decoration: none;
}

