.carousel {
    display: flex;
    margin: 0;
    padding: 0;
    width: 75%;
    max-height: 0%;
}

.carouselImgs {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: 0 5px 5px 0;
}