.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: inherit;
}

#jumboContainer {
    display: flex;
    align-items: center;
    width: 85%;
    background: inherit;
    margin: 50px;
    padding: 0;
    box-shadow: 5px 10px 15px #00000052, 5px 10px 15px #0000003a;
    border-radius: 5px;
    background-image: linear-gradient(to right, #323232, #212121);
}

#side {
    width: 25%;
    color: #f2f2f2;
}

